  /*NAVBAR COMPONENT!*/

  .navbar {
    

    background-color: #191A19;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    max-width: 1500px;
    margin: auto;
    
  }

  .navbarWrap {
    background-color: #191A19;
  }

  .logoContainer {
    margin: 0.2rem 0.5em;
    padding: 0 1em;
  }

  .logo {
    margin: -.2em;
    color: #4E9F3D;
    cursor: pointer;
  }

 
  .linksList {
    margin: 0 1.6em;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .linkWrap {
    padding: 1em;
    cursor: pointer;
    margin: 0.5em;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  #cta {
    color: #4E9F3D;
    border: solid 2px #4E9F3D;
    padding: .5em 1em;
    border-radius: 1em;
  }

  #cta:hover {
    color: #191A19;
    background-color: #4E9F3D;
    border: solid 2px #191A19;
    transition: 0.2s;
  }

  .cartContainer {
    margin: .7em 1em ;
    
  }

  /*MOBILE*/

  .menuIcon {
    margin: .6em 1em ;
    font-size: 2em;
    cursor: pointer;
    color: #4E9F3D;
  }

  .MobileMenuContainer {
    position: absolute;
    width: 100%;

    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #191A19;
  }

  .MobileLinksList {
    list-style: none;
    padding: 0;
  }

  .MobileLinkWrap {
    padding: 1em;
    cursor: pointer;
    margin: 0.5em;
    text-align: center ;
    font-size: 1.4em;
  }

  .logoLink {
    text-decoration: none;
    color: #4E9F3D;
  }


  /* CART CSS HERE!!!! */

  .btnsContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .listContainer {
    height: 20em;
    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }

  .listContainer::-webkit-scrollbar {
    display: none;
  }

  .productWrapper {
    margin: 0em 2em;
  }

  .cartList {
    list-style: none;
    
}

  .cartListItem {   
    text-decoration: none;
    color: #fff;
  }

.cartTitle {
  color: #fff;
  text-decoration: underline;
  
  margin-top: 0;
}

.buttonContainer {
  text-align: center;
  background-color: #4E9F3D;
  border-radius: .5rem;
  
  width: 30%;
  margin: auto;
  margin-bottom: 2.5em;
 
}

.ctaButton {
    color: #fff;
    padding: .5rem .5rem;
    
}

.cartContainer {

  position: absolute;

  margin: 0em 0em;
  height: auto;
  width: 40%;
  background-color: #191A19;
  text-align: right !important;
  padding-bottom: 0.1em;
  margin-bottom: -10em;
}

@media screen and (max-width: 992px) {

  
  .cartContainer {
    margin: 0em 0em;
    height: auto;
    width: 50%;
    background-color: #191A19;
    text-align: right !important;
    padding-bottom: 0em;
  }
  
}

@media screen and (max-width: 880px) {

  
  .cartContainer {
    margin: 0em 0em;
    height: auto;
    width: 60%;
    background-color: #191A19;
    text-align: right !important;
    padding-bottom: 0.1em;
  }
  
 
}

@media screen and (max-width: 750px) {

  
  .cartContainer {
    margin: 0em 0em;
    height: auto;
    width: 100%;
    background-color: #191A19;
    text-align: right !important;
    padding-bottom: 0.1em;
  }

  .listContainer {
    height: 20em;
    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }

  .totalPriceWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    width: 20%;
    margin: auto;
  }
  

  
 
}

@media screen and (max-width: 380px) {
  .menuIcon {
    font-size: 1.5em;
  }

  .logo {
    margin: 0em;
  }
}



.containerCont {
  margin-top: 2em;
}

.productContainer {
  display: flex;
  flex-direction: row-reverse;
}

.ImageCont {
  margin: 1em;
}

.qt {
  font-size: 1.5em;
  
}

.qtBtn {
  background-color: none;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;


 
 
  font-size: 1em;
  padding-top: .5em;
  margin: 0 .5em ;
}

.productsPrice {
  font-size: 1.5em;
  
  color: #4E9F3D;
}

.qtOutline {
  display: flex;
  flex-direction: row;
 
  padding: -1em;
  margin-right: 2em;
}

.lineBreak {
  border: #4E9F3D solid 1px;
  height: 1px;
}

.totalPriceWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
  width: 70%;
  margin: auto;
}

.totalPrice {
  color: #fff;
  font-size: 1.5em;
}

.titleWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.deleteBtn {
 
  margin: 1.2em 2em;
  cursor: pointer;
}

.emptyCartCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;

}

.emptyCart {
  color: #444444;
  font-size: 10em;
  text-align: center;
}

.emptyCartText {

  color: #444444;
}
